
.custom-class-modal .modal-content {
    margin-top: 50% !important;
    color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-responsive { font-size: 20px; }
    .text-sm-responsive {font-size: 11px; }
    .p-5-responsive { padding: 5px !important; }
    .btn-sm { font-size: 13px !important; }
    .m-t-5 { margin-top: 5px !important; }
    .customer { width: 40.5px; }
    .btn-f-13 { font-size: 13px !important; }
    .font-11 { font-size: 11px !important; }
}